:root {
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ddd;
    background: linear-gradient(to top, #212121, #263238);
}

body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

button {
    font: inherit;
    color: inherit;
    background-color: #455a64;
    border: none;
    padding: .5em;
    margin: .25em;
    border-radius: .5em;
    transition: transform .3s, background-color .3s;
}

button:hover {
    background-color: #546e7a;
    transform: translateX(5px);
}

button:active {
    background-color: #607d8b;
    transform: translateX(-5px);
    transition: transform .1s, background-color .1s;
}

button:disabled {
    pointer-events: none;
    filter: brightness(.7);
}

.App {
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
}

#controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 360px;
}