:root {
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ddd;
    background: linear-gradient(to top, #212121, #263238);
}

body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

.btn {
    display: block;
    font: inherit;
    color: inherit;
    background-color: #455a64;
    border: none;
    padding: .5em;
    margin: .25em;
    border-radius: .5em;
    transition: transform .3s, background-color .3s;
}

.btn:hover {
    background-color: #546e7a;
    transform: translateX(5px);
}

.btn:active {
    background-color: #607d8b;
    transform: translateX(-5px);
    transition: transform .1s, background-color .1s;
}

.btn:disabled {
    pointer-events: none;
    filter: brightness(.7);
}

.App {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

#controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 360px;
}

#file-input {
    text-align-last: center;
}

#file-input label:focus-within {
    outline: 1px solid #ddd;
}

#file-input input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: -100;
}

#file-input .stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 .5em;
    margin: .25em;
}