:root {
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ddd;
    background: linear-gradient(to top, #212121, #263238);
}

body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

.btn {
    box-sizing: border-box;
    display: block;
    font: inherit;
    color: inherit;
    background-color: #455a64;
    border: none;
    padding: .5em;
    border-radius: .5em;
    transition: transform .3s, background-color .3s;
}

.btn:hover {
    background-color: #546e7a;
    transform: translateX(5px);
}

.btn:active {
    background-color: #607d8b;
    transform: translateX(-5px);
    transition: transform .1s, background-color .1s;
}

.btn:disabled {
    pointer-events: none;
    filter: brightness(.7);
}

.App {
    --spacing: 1.5em;

    width: 100%;
    height: 100%;
    padding: var(--spacing);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: var(--spacing);
}

#controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 360px;
    gap: 1em;
}

#controls .btn {
    width: 100%;
}

#controls .stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 .5em;
    margin: .25em;
}

#file-input {
    text-align-last: center;
}

#file-input label:focus-within {
    outline: 1px solid #ddd;
}

#file-input input[type="file"],
.audio video {
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: -100;
}

#stats-col {
    box-sizing: border-box;
    min-height: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto) repeat(2, 1fr);
    align-items: center;
}

#stats-table {
    display: block;
    height: calc(100% - var(--spacing));
    margin-top: var(--spacing);
    overflow-y: auto;
}

#stats-table td:nth-last-child(1),
#stats-table td:nth-last-child(2) {
    text-align: right;
    padding-right: 1ch;
}

#stats-table tr {
    background-color: #455a6422;
}

#stats-table tr:hover {
    background-color: #455a6444;
}

#stats-table a {
    color: inherit;
    text-decoration: none;
    display: block;
}

#stats-table a:hover {
    color: #a5d6a7;
}

#stats-table #track-artists {
    color: #b0bec5;
    font-size: .6em;
    display: block;
    margin: .4em 0;
}

.audio button {
    color: inherit;
    background-color: #fff2;
    border: none;
}